<!DOCTYPE html>
<html>
    <head>
        <title>DNS Resolver</title>
        <link href="/public/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>DNS Resolver</h1>
        <main>
            <form id="form">
                <fieldset>
                    <legend>Enter domain name to convert to IP address:</legend>
                    <input id="domain-input" name="domain" type="text" placeholder="www.google.com">
                    <button id="submit-button">Resolve domain</button>
                </fieldset>
            </form>
            <div id="ip-result" class="hidden">
                <h3>Domain:</h3>
                <p id="domain"></p>
                <h3>IP address:</h3>
                <p id="ip-address"></p>
            </div>
            <div id="error" class="hidden">
            </div>
        </main>
        <footer>
            <p>by Kayla Moorcroft, Kaylee Smith, Wendy Xia</p>
        </footer>
        <script src="/public/script.js"></script>
    </body>
</html>