<!DOCTYPE html>
<html>
    <head>
        <title>DNS Resolver</title>
        <link href="/public/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>DNS Resolver</h1>
        <main>
            <form action="api/ip">
                <fieldset>
                    <legend>Enter domain name to convert to IP address:</legend>
                    <input id="domain-input" name="domain" type="text" placeholder="www.google.com">
                    <input type="submit" value="Resolve domain">
                </fieldset>
            </form>
        </main>
        <footer>
            <p>by Kayla Moorcroft, Kaylee Smith, Wendy Xia</p>
        </footer>
    </body>
</html>